body{
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
    background-color: grey;
}


nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94vw;
}

nav .left-side-nav{
    display: flex;
    flex-direction: row;
    margin-left: 0;
}

nav .right-side-nav{
    display: flex;
    flex-direction: row;
    margin-right: 0;
}

.page-content{
    height: fit-content;
    width: 100vw;
}
.page-content h1{
    text-align: center;
    width: 100vw;
}

a {
    text-decoration: none;
}

input, textarea{
    background-color: lightgrey;
    width: 30rem;
}

select{
    background-color: lightgrey;
    width: 27rem;
    text-align: center;
}

.card{
	width: 18rem;
	height: 10rem;
	text-align: center;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
	margin: .5rem;
}

.card-body{
    display: flex;
    flex-direction: column;
}



.card-link{
	text-decoration: none;
    font-size: 1rem;
    color: white;
	border: 2px solid grey;
	border-radius: 10px;
	padding: .5rem;
    height: fit-content;
}

/*about_page */

.about-page{
    padding: 2rem;
}

/*login */

.login{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
}

.login h1{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.login form{
    display: flex;
    flex-direction: column;
    width: 34rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.login form .form-areas{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.login .btn{
    margin-left: auto;
    margin-right: auto;
}

/*logout */

.logout{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
}

.logout h1{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


/*signup */

.signup{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.signup h1{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.signup form{
    display: flex;
    flex-direction: column;
    width: 34rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.signup form .form-areas{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.signup form .form-areas p{
    margin-bottom: 2rem;
}

.signup .btn{
    margin-left: auto;
    margin-right: auto;
}

/*password_change_form */

.password-change{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.password-change h1{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.password-change form{
    display: flex;
    flex-direction: column;
    width: 34rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.password-change form .form-areas{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.password-change form .form-areas p{
    margin-bottom: 2rem;
}

.password-change .btn{
    margin-left: auto;
    margin-right: auto;
}

/*password-changed */

.password-changed{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
}

.password-changed h1{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}


/*post_list */


.post-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

.post-list-buttons{
    display: flex;
    justify-content: space-between;	
}

.post-list-buttons h5{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.post-list-buttons .card-title{
	color: white;
	text-decoration: none;
}

/*post_detail */

.post-detail{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.post-detail h1{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.post-detail .author{
    text-align: center;
}

.post-detail-buttons{
    display: flex;
    justify-content: space-between;	
}

/*post_new */


.post-new{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.post-new h1{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.post-new form{
    display: flex;
    flex-direction: column;
    width: 34rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.post-new form .form-areas{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.post-new .btn{
    margin-left: auto;
    margin-right: auto;
}



/*post_edit */

.post-edit{
    display: flex;
    flex-direction: column;
    padding: 1rem;
	background-color: black;
	color: lightgrey;
	border-radius: 10px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.post-edit h1{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.post-edit form{
    display: flex;
    flex-direction: column;
    width: 34rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.post-edit form :nth-child(2){
    text-align: center;
}


.post-edit form .form-areas{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.post-edit .btn{
    margin-left: auto;
    margin-right: auto;
}